body {
  font-family: "ABCRepro-Medium", Helvetica, Arial, sans-serif;
}

h1 {
text-align:center;
}



.pad{
  padding-left:100px;
  padding-right:300px;
  padding-top: 0px;
}

.gridcontainer{
  align-items: center;
  display:grid;
  grid-template-columns:repeat(10, minmax(100px,1fr));
  grid-template-rows:repeat(12, minmax(100px,1fr));
  grid-auto-flow: rows;
  gap: 20px;
}

img {
  width: 100%;
}


/* Items placed on the grid */

.meduza{
  grid-row-start:1;
  grid-row-end:3; 
  grid-column-start: 1;
  grid-column-end: 4;
}

.planet{
  grid-row-start:2;
  grid-row-end:5;  
  grid-column-start:7;
  grid-column-end:10;

}

.skull{
  grid-row-start:1;
  grid-row-end:2; 
  grid-column-start:9;
  grid-column-end:10; 
}

.bean{
  grid-row-start:4;
  grid-row-end:7; 
  grid-column-start:2;
  grid-column-end:5; 
}

.QR{
  grid-row-start:9;
  grid-row-end:10;  
  grid-column-start:8;
  grid-column-end:9; 
}

.stones{
  grid-row-start:11;
  grid-row-end:12; 
  grid-column-start:9;
  grid-column-end:10; 
}

.fog{
  grid-row-start:7;
  grid-row-end:8; 
  grid-column-start:9;
  grid-column-end:10; 
}


.globus{
  grid-row-start:8;
  grid-row-end:9; 
  grid-column-start:2;
  grid-column-end:3; 
}

.potato{
  grid-row-start:9;
  grid-row-end:10;  
  grid-column-start:9;
  grid-column-end:10;
}

/* Definitions positioned */


 .def1{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 140px;
  left: 0;
 } 

.meduza:hover .def1 {
  opacity: 1;
}
.meduza:hover img {
  opacity: 0;
}

.def2{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 250px;
  left: 800px;
 } 

.planet:hover .def2 {
  opacity: 1;
}
.planet:hover img {
  opacity: 0;
}

.def3{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 430px;
  left: 250px;
 } 

.skull:hover .def3 {
  opacity: 1;
}
.skull:hover img {
  opacity: 0;
}

.def4{
  opacity:0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position:absolute;
  top: 700px;
  left: 800px;
 } 

.bean:hover .def4 {
  opacity: 1;
}
.bean:hover img {
  opacity: 0;
}

.def5{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 800px;
  left: 200px;
 } 

.QR:hover .def5 {
  opacity: 1;
}
.QR:hover img {
  opacity: 0;
}

.def6{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 1200px;
  left: 900px;
 } 

.fog:hover .def6 {
  opacity: 1;
}
.fog:hover img {
  opacity: 0;
}

.def7{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 800px;
  left: 800px;
 } 

.globus:hover .def7 {
  opacity: 1;
}
.globus:hover img {
  opacity: 0;
}

.def8{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 800px;
  left: 800px;
 } 

.potato:hover .def8 {
  opacity: 1;
}
.potato:hover img {
  opacity: 0;
}

.def9{
  opacity: 0;
  color:rgb(150, 87, 47);
  font-style: italic;
  position: absolute;
  top: 1500px;
  left: 800px;
 } 

.stones:hover .def9 {
  opacity: 1;
}
.stones:hover img {
  opacity: 0;
}


/* Quotes on the page */

.quote1{
  color: rgb(150, 87, 47);
  font-size: small;
  font-style: italic;
}
.quote1{
  grid-row-start:2;
  grid-row-end:3;  
  grid-column-start:1;
  grid-column-end:2; 
  align-items:left;
  /* filter:blur(8px);
  transition-duration: 0.3s; */
}

/* .quote1:hover{
  filter:blur(0px);  
} */

.quote2{
  color: rgb(150, 87, 47);
  font-size: small;
  font-style: italic;
}
.quote2{
  grid-row-start:3;
  grid-row-end:4;  
  grid-column-start:3;
  grid-column-end:4; 
  align-items:left;
}





/* Hover effect */
/* 1 */
/* .QR:hover + .def1 {
  opacity: 1;
  grid-row-start:7;
  grid-row-end: 8;  
  grid-column-start:2;
  grid-column-end:3;
} */

/* .QR:hover {
  opacity: 0;
} */

/* 2  Quentin's solution */








